@model IEnumerable<PROYECTO_SWI.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="text-primary">Pacientes</h1>
        <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Dni</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>FechaNacimiento</th>
                    <th>Alergias</th>
                    <th>Condiciones</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Dni)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                        <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                        <td>@Html.DisplayFor(modelItem => item.Alergias)</td>
                        <td>@Html.DisplayFor(modelItem => item.CondicionesPreexistentes)</td>
                        <td>@Html.DisplayFor(modelItem => item.IdTipo)</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@item.IdPaciente" class="btn btn-sm btn-warning me-2">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.IdPaciente" class="btn btn-sm btn-info me-2">Detalles</a>
                                <a asp-action="Delete" asp-route-id="@item.IdPaciente" class="btn btn-sm btn-danger">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>